apiVersion: v1
kind: Service
metadata:
  name: {{ include "acme-linode.fullname" . }}
  namespace: {{ include "acme-linode.namespace" . | quote }}
  labels:
    {{- include "acme-linode.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: https
      protocol: TCP
      name: https
  selector:
    {{- include "acme-linode.selectorLabels" . | nindent 4 }}
