{{- if .Values.secret.create -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "endeavor.fullname" . }}
  labels:
    {{- include "endeavor.labels" . | nindent 4 }}
data:
  {{- if .Values.secrets.databaseURL.value }}
  {{ .Values.secrets.databaseURL.secretKey }}: {{ .Values.secrets.databaseURL.value | b64enc }}
  {{- end }}
  {{- if .Values.secrets.inferenceAPIKey.value }}
  {{ .Values.secrets.inferenceAPIKey.secretKey }}: {{ .Values.secrets.inferenceAPIKey.value | b64enc }}
  {{- end }}
  {{- if .Values.secrets.csrfSecret.value }}
  {{ .Values.secrets.csrfSecret.secretKey }}: {{ .Values.secrets.csrfSecret.value | b64enc }}
  {{- end }}
{{- end }}
